{% extends 'base.html.twig' %}

{% block title %}Nouvel RDV
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_CEO') %}
		{% include "commons/_ceo_navbar.html.twig" %}
	{% endif %}
	<h1>Créer un RDV</h1>

	{{ include('calendar/_form.html.twig') }}

	<a href="{{ path('app_calendar_index') }}">Retour a la liste</a>
{% endblock %}
