{% extends "base.html.twig" %}
{% block title %}Bonjour
{% endblock %}
{% block body %}
	{% include "commons/_ceo_navbar.html.twig" %}

	{% set noCandidatureDisplayed = true %}

	{% for candidate in candidates %}
		{% if 'ROLE_INFLUENCER' not in candidate.user.roles %}
			<div class="card">
				<div class="card-body">
					<p class="card-text">{{ candidate.email }}</p>
					<p class="card-text">{{ candidate.motif.motifInfluencer }}</p>
					<a href="{{ path('ceo_candidate_show', {'id': candidate.id}) }}" class="btn btn-primary">Voir la candidature</a>
					<a href="{{ path('ceo_candidate_delete', {'id': candidate.id}) }}" class="btn btn-danger">Ne pas retenir</a>
				</div>
			</div>
			{% set noCandidatureDisplayed = false %}
		{% endif %}
	{% endfor %}

	{% if noCandidatureDisplayed %}
		<h1>Vous n'avez pas de candidature</h1>
	{% endif %}
{% endblock %}
