{% extends "base.html.twig" %}
{% block title %}Un problème est survenu
{% endblock %}
{% block body %}
	{% include "commons/_navbar.html.twig" %}
	<h1>Un problème est survenu</h1>
	<p>Essayez avec une adresse mail valide</p>
	<a href="{{ path('login') }}">Page de connexion</a>
{% endblock %}
