{% extends "base.html.twig" %}
{% block title %}Réinitilisation de mot de passe
{% endblock %}

{% block body %}
	{% include "commons/_navbar.html.twig" %}
	{{ form_start(resetForm) }}
	{{ form_row(resetForm.password) }}
	<button type="submit" class="btn btn-primary">Envoyer</button>
	{{ form_end(resetForm) }}
{% endblock %}
