
div#calendar{
    margin-left: 300px; /* Centrer le calendrier horizontalement */
    padding: 20px; /* Espace interne pour le contenu */
}
.calendar-container {
    max-height: 600px; /* Hauteur minimale pour la div du calendrier */
    max-width: 800px;
}
div.calendar-button{
    gap: 2em;
}
.btn-lg {
    padding: 10px 20px; /* Padding plus grand pour des boutons plus gros et faciles à cliquer */
    font-size: 18px; /* Taille de la police plus grande pour une meilleure lisibilité */
}


@media (max-width: 767px) {

    /* Styles pour les écrans mobiles (moins de 768px de large) */
    #calendar {
        margin: 10px 10px;
        /* Réduire la marge sur les petits écrans */
        padding: 10px;
        /* Réduire le padding */
        height: 100%;
    }
}

@media (min-width: 768px) {

    /* Styles pour les écrans de taille moyenne et plus */
    #calendar {
        margin: 20px 50px;
        /* Plus de marge sur les côtés pour les écrans plus larges */
        padding: 20px;
        /* Plus de padding */
    }
}


html,
body {
    height: 100%;
    /* Assure que le body prend toute la hauteur */
    margin: 0;
    /* Enlève la marge par défaut */
    padding: 0;
}