.ceo-dashboard{
    margin-left: 100px!important;
}

.ceo-dashboard-title{
    font-size: 2em;
    margin-left: 100px!important;
}

.ceo-dashboard-title-2{
    font-size: 2em;
    margin-left: 210px!important;
    margin-top: 1em;
}
.button-company-dashboard-ceo{
    float: right;
    margin-right: 5em;
}

.ceo-dashboard-candidates{
    margin-left: 120px!important;
}

.ceo-dashboard-influencer{
    margin-left: 125px!important;
}