.influencer-detail-contract{
    display: flex;
    justify-content: center;
    margin-left: 350px;
}
.title-influencer-landing{
    margin-left: 250px;
}
div.contact-landing-influencer{
    margin-left: 250px;
}