<!DOCTYPE html>
<html>
	<head>
		<style>
			.email-container {
				font-family: Arial, sans-serif;
				color: #333333;
				line-height: 1.6;
			}

			.email-content {
				margin: 20px;
				padding: 20px;
				border: 1px solid #dddddd;
				border-radius: 5px;
				background-color: #f9f9f9;
			}

			.email-header {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 20px;
			}

			.email-link {
				color: #1a0dab;
				text-decoration: none;
			}

			.email-footer {
				margin-top: 30px;
				font-size: 12px;
				color: #777777;
			}
		</style>
	</head>
	<body>
		<div class="email-container">
			<div class="email-content">
				<p class="email-header">Réinitialisation de Votre Mot de Passe</p>
				<p>
					Bonjour
					{{ user.firstname }},
				</p>
				<p>
					Vous avez demandé à réinitialiser votre mot de passe. Pour procéder à la réinitialisation, veuillez cliquer sur le lien suivant :
				</p>
				<p>
					<a href="{{ url|raw }}" class="email-link">{{ url|raw }}</a>
				</p>
				<p>
					<strong>A bientôt chez MEROS !</strong>
				</p>
				<p class="email-footer">
					Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet e-mail.
				</p>
			</div>
		</div>
	</body>
</html>
