{% extends 'base.html.twig' %}

{% block title %}Vos Rendez - Vous
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_CEO') %}
	{{ render(controller('App\\Controller\\Admin\\AdminCeoController::navbar')) }}
	{% elseif is_granted('ROLE_INFLUENCER') %}
	{% include "commons/_influencer_navbar.html.twig" %}
	{% endif %}
	{% block calendarButtons %}
		<div class="container mt-5 calendar-all gap-2">
			<div class="d-flex justify-content-center calendar-button">
				<a href="{{ path('app_calendar_new') }}" class="btn btn-success btn-lg">Ajouter une date</a>
				<a href="{{ path('app_calendar_index') }}" class="btn btn-warning btn-lg">Editer mes dates</a>
			</div>
		</div>
	{% endblock %}


	<div id="calendar" class="calendar-container"></div>


{% endblock %}

{% block cdn %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>
{% endblock %}
{% block javascript %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'dayGridMonth',
locale: 'fr',
timeZone: 'Europe/Paris',
headerToolbar: {
start: 'prev,today,next',
center: 'title',
end: 'dayGridMonth,timeGridWeek,timeGridDay'
},

businessHours: { // days of week. an array of zero-based day of week integers (0=Sunday)
daysOfWeek: [
1,
2,
3,
4,
5
], // Monday - Thursday

startTime: '9:00',
endTime: '17:30'
},
nowIndicator: true,
events: {{ data| raw }},
editable: true

});

calendar.on('eventChange', (e) => {
let url = `/api/${
e.event.id
}/edit`
let data = {
"title": e.event.title,
"start": e.event.start,
"end": e.event.end,
"description": e.event.extendedProps.description,
"backgroundColor": e.event.backgroundColor,
"borderColor": e.event.borderColor,
"textColor": e.event.textColor,
"allDay": e.event.allDay,
"isArchived": e.event.extendedProps.isArchived ? 1 : 0
}

let xhr = new XMLHttpRequest();
xhr.open("PUT", url);
xhr.setRequestHeader("Content-Type", "application/json");
xhr.send(JSON.stringify(data));
})

calendar.render();

});

	</script>

{% endblock %}
