{% extends "base.html.twig" %}
{% block body %}
	{% include 'commons/_navbar.html.twig' %}
	<div class="h1-h3-image-header">
		<div class="h1-h3">
			<h3>L'agence qu'il te correspond !</h3>
			<h1>Fait décoller ta carrière chez <span class="highlight-meros-span">Meros</span></h1>
			<p>Notre agence est spécialisée dans le management de talent en tout genre.
			Du sport en passant par la beauté pour finir par la restauration, nous avons ce qu'il te faut.
				Chaque influenceur est unique et nous l'accompagnons dans la croissance de sa carrière !
			</p>
		</div>
		<div class="landing-image-9">
			<img src="{{ asset('assets/images/perso.webp') }}" class="" alt="9 personnages représentant femmes et hommes de manière minimaliste">
		</div>
	</div>
	<section class="section-card-about">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Lance ton business </h3>
				<p class="card-text">Nous allons t'aider à atteindre tes objectifs financiers et à les faire prospérer </p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Professionnalise toi </h3>
				<p class="card-text">Lorem ipsum olor sit amet, consectetur adipisicing elit. Adipisci, alias animi aperiam aspernatur atque autem, blanditiis consequatur cumque delectus doloremque doloribus ducimus ea eius eligendi eos error est eum ex explicabo facere fugiat fugit harum id illum impedit in ipsa ipsam iure iusto laborum laudantium magnam magni maiores maxime minima minus molestias natus nemo nesciunt nihil nisi nobis non nulla obcaecati odio officiis omnis optio pariatur perferendis perspiciatis placeat praesentium provident quae quaerat quam quasi quibusdam quisquam quo ratione recusandae rem repellendus repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora tenetur totam ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptatum. </p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Développe ta carrière </h3>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias animi aperiam aspernatur atque autem, blanditiis consequatur cumque delectus doloremque doloribus ducimus ea eius eligendi eos error est eum ex explicabo facere fugiat fugit harum id illum impedit in ipsa ipsam iure iusto laborum laudantium magnam magni maiores maxime minima minus molestias natus nemo nesciunt nihil nisi nobis non nulla obcaecati odio officiis omnis optio pariatur perferendis perspiciatis placeat praesentium provident quae quaerat quam quasi quibusdam quisquam quo ratione recusandae rem repellendus repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora tenetur totam ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptatum. </p>
			</div>
		</div>
	</section>


{% endblock %}
