{% extends "base.html.twig" %}
{% block title %}
	Politique de conservation des données
{% endblock %}
{% block body %}
	{% include "commons/_navbar.html.twig" %}

	<div class="container py-5">
		<h2 class="mb-4">Politique de Conservation des Données Personnelles</h2>
		<p class="mb-3">
			Notre entreprise s'engage à protéger et à respecter la confidentialité de vos données personnelles. Cette politique explique comment, pourquoi et pendant combien de temps nous conservons vos informations personnelles.
		</p>
		<h3 class="mb-3">Collecte des Données</h3>
		<p class="mb-3">
			Nous collectons des données personnelles lors de votre inscription sur notre site, lors de l'utilisation de nos services, ou lors de communications directes. Ces données peuvent inclure votre nom, adresse e-mail, numéro de téléphone, et toute autre information que vous choisissez de partager avec nous.
		</p>
		<h3 class="mb-3">Utilisation des Données</h3>
		<p class="mb-3">
			Les données collectées sont utilisées pour fournir et améliorer nos services, pour communiquer avec vous, et pour respecter nos obligations légales. Nous pouvons également utiliser ces informations à des fins de marketing, sous réserve de votre consentement.
		</p>
		<h3 class="mb-3">Durée de Conservation</h3>
		<p class="mb-3">
			Vos données personnelles sont conservées aussi longtemps que nécessaire pour fournir nos services, ou pour d'autres besoins essentiels tels que le respect de nos obligations légales et la résolution des litiges. La durée de conservation varie selon le type de données et le service utilisé.
		</p>
		<h3 class="mb-3">Sécurité des Données</h3>
		<p class="mb-3">
			Nous prenons des mesures de sécurité rigoureuses pour protéger vos données personnelles contre l'accès non autorisé, l'altération, la divulgation ou la destruction. Nous effectuons régulièrement des audits de sécurité pour assurer la protection de vos informations.
		</p>
		<h3 class="mb-3">Vos Droits</h3>
		<p class="mb-4">
			Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de demander leur suppression, ou de limiter leur traitement. Pour exercer ces droits, veuillez nous contacter à l'adresse : ophely.larivière@meros.fr .
		</p>
		<p>
			Cette politique est sujette à des mises à jour périodiques. Nous vous encourageons à consulter cette page régulièrement pour prendre connaissance des modifications apportées.
		</p>
	</div>
{% endblock %}
