<footer class="footer py-3">
    <div class="container text-center">
        <small>© {{ "now"|date("Y") }} Meros. Tous droits réservés.</small>
        <div>
            <a href="{{ path('login') }}" class=" footer-link mx-2">Connexion à notre application</a>
            <a href="#" class=" footer-link mx-2">Politique de confidentialité</a>
            <a href="{{ path('rgpd') }}" class="footer-link mx-2">Conservation des données</a>
        </div>
    </div>
</footer>
